SEED="12-24 words"
OPERATOR=0x...
GAS_PRICE_PROD = 500000000
GAS_PRICE = 500000000
SERVER_PORT=4400
SERVER_IP=127.0.0.1
CONTRACT=0x...
CHAIN_ID=97

RPC=https://...
RPC_WS=wss://...


CHECK_INTERVAL = 3600
